<!--<h1>
  hallelujah
</h1>
<img src="../assets/img/1.jpg" height="400" width="300"/>
<hr>-->
<!--<app-welcome></app-welcome>
<app-databinding></app-databinding>
<app-eventbinding></app-eventbinding>
<app-twowaybinding></app-twowaybinding>
<app-dirdemo></app-dirdemo>>-->
<a href="/welcome">Chapter-1  |</a>
<a href="/databind">Chapter-2  |</a>
<a href="/eventbind">Chapter-3  |</a>
<a href="/twowaybind">Chapter-4  |</a>
<a href="/dirdemo">Chapter-5 |</a>
<a href="/crud">Chapter-6</a>
<router-outlet></router-outlet>